.quality-section td:first-child {
  width: 10px;
}

.quality-section table {
  width: 100%;
}

.quality-section td {
  text-align: center;
  width: fit-content;
}

.quality-section {
  padding: 10px 20px;
}

.quality-section td:nth-child(2) {
  text-align: left;
}

.importance-table td:first-child {
  text-align: left;
}

.importance-table td:nth-child(2) {
  text-align: center;
}

.quality-section p {
  margin-top: 20px;
}